fieldset{
    border-color:#2e344e !important; 
}
/* buttonSendData:{
    padding:'10px',
    borderRadius:'none',
    transition:".5s",
    position:'relative',
    display:'inline-block',
    '&::after':{
     
      content:'',
      transition:".5s",
       width:'100%',
       height:'5px',
       bottom:0,
       backgroundColor:'#fff',
       transform:'',
       position:'absolute',
       top:'auto',
       left:0
    }, */


.buttonSendData{
    padding:10px;
    border-radius:none;
    transition:.5s;
    position:relative;
    display:inline-block;
}

.dealay{
    width: 0;
    height: 5px;
    background-color: transparent;
    transition:.5s;
    position: absolute;
    top: 37px;
    border-radius: 0 0 4px 4px;
    left: 0;

}
.buttonSendData:hover .dealay{
    width: 99%;
    height: 5px;
    background-color: #037fff;
    transition:.5s;
    position: absolute;
    top: 37px;
    border-radius: 0 0 4px 4px;
    left: 0;
}

.display-none{
  display: none;
}

.display-block{
    display: block;
}