.overlay{
    width:0%;
    height:100%;
    position: absolute;
    top:0;
    background-color: transparent;
    color: #fff;
    transition:.5s;
}
.listitemText{
    color: #fff;
}

.listitem:hover .overlay{
    transition:.5s;
    width: 100%;
    background-color: #f23571;
    z-index: -1;
}
.listitem:hover .listitemText{
    transition: .5s;
    color: #fff !important;

}
.line1{
    width:1px;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(46, 52, 78, 0.3);
    position: absolute;
    left: 20%;
    z-index: -1;
}
.line2{
    width:1px;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(46, 52, 78, 0.3);
    position: absolute;
    left: 40%;
    z-index: -1;
}
.line3{
    width:1px;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(46, 52, 78, 0.3);
    position: absolute;
    left: 60%;
    z-index: -1;
}
.line4{
    width:1px;
    height: 100%;
    min-height:100vh;
    background-color: rgba(46, 52, 78, 0.3);
    position: absolute;
    left: 80%;
    z-index: -1;
}







/*/////////////////////////////////////*/

  
 
