h1,h2,h3,h4,h5,h6{
    font-weight: 100;
}
.font-normal{
    font-size: 18px;
}
.f-w-100{
 font-weight: 300;
}
.h-25{
 height: 40px !important;
 padding-top: 10px;
 text-decoration: none;
}
.modal-new{
    z-index: 999;
    background-color: #fff;
    /* border: 1px solid #c4c4c4; */
    border-radius: 5px;
    width: 500px;
    height: 340px;
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
   
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


@media screen and (max-width:768px){
    .modal-new{
        width: 300px;  
    }
}